.home {
  .logo {
    background: white;
    height: 100px;
    width: 200px;
  }
  .info-section {
    padding: 54px;
    width: 35%;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    .info-box {
      position: absolute;
      bottom: 60px;
      h4 {
        font-size: 1.2rem;
        color: $color3;
        margin: 0.7rem 0;
      }
      p {
        font-size: 0.9rem;
        font-weight: 300;
        color: $color3;
        margin: 0.2rem 0 1.5rem;
      }
    }
  }
  .content-area {
    margin-left: 35%;
    width: 65%;
    background: white;
    height: 100%;
  }
}
